body{
    background-color: darkslategrey;
}

#divinterno{
    border: 2px solid darkslateblue;
    border-radius: 2%;
    background-color: rgb(217, 201, 178);
    margin-top: 2%;
    margin-bottom: 2%;
    min-height: 90vh;
    max-height: 90vh;
    max-width: 96vw;
    align-items: stretch; /* Fa sì che i figli si allunghino in altezza */
    overflow: auto;
 
}

  
#colquickteam {
    display: grid; /* Trasforma il contenitore in una griglia */
    grid-template-columns: repeat(2, 1fr); /* Massimo due colonne di larghezza uguale */
    height: 60vh; /* L'altezza si adatta ai contenuti */
    overflow: auto; /* Aggiunge uno scroll se i contenuti eccedono */
    box-sizing: border-box; /* Include padding e bordo nelle dimensioni */
    margin-top: 0vh;
  }
  
  .imgquick {
    width: 20vh;
    height: 20vh;
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    border-radius: 8px; /* Angoli arrotondati */
    border-bottom: 1px groove black; /* Bordo opzionale */
  }

  .overlay-div {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0); /* Centra l'elemento orizzontalmente */
    z-index: 1;
    padding: 20px; /* Spaziatura interna */
    word-wrap: break-word; /* Consente di andare a capo quando necessario */
    box-sizing: border-box;
    width: auto; /* Adatta la larghezza al contenuto */
    min-width: 30vw; /* Imposta una larghezza minima */
    max-width: 95%; /* Limita la larghezza massima */
    background-color: #2b2f33;
    color: white;
    border: groove #feb3ff;
    border-radius: 12px;
    box-shadow: 1px 2px 4px 2px #c7c7c7;
    display: inline-block; /* Cambia il comportamento per adattarsi meglio al contenuto */
    text-align: center;
    max-height: 60vh;
    overflow-y: auto;
    
  }
  
  

  .test{
    display: flex; /* Attiva Flexbox */
    align-items: center; /* Centra il contenuto verticalmente */
    justify-content: center; /* (Opzionale) Centra il contenuto orizzontalmente */
    height: 100%; /* Assicura che il contenuto riempia l'altezza disponibile */
  }

  .navmod{
    font-size: 20px;
  }

  .nav-link:hover{
    color: white;
  }
  .nav-link{
    color: black;
  }

  .medaglia{
    width: 10vh;
    height: 10vh;
  }



.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin: 0 auto;
}

.item{
  border: 1px solid darkslateblue;
  border-radius: 10px;
  padding: 15px;
  text-align: center; 
  vertical-align: middle;
}

.itemmedaglia{
  text-align: center; 
  vertical-align: middle;
  padding: 0%;
  width: fit-content;
}

#colquickmedaglie{
  width: fit-content;
  grid-template-columns: repeat(4, 1fr);
  padding: 0%;
  margin-left: 5%;
}

    
@media (max-width: 900px) {
  #colquickteam {
    width: 20vw;
    height: 60vh;
    grid-template-columns: 1fr; /* Una sola colonna */
    margin: 0 auto;
    padding: 0%;
    grid-auto-rows: 10vh;
  }

  .overlay-div{
    max-width: 800px;
  }

  .medaglia{
    width: 5vh;
    height: 5vh;
  }

  .grid{
    gap: 15px;
    margin: 0 auto;
  }

  .imgquick {
    width: 10vh;
    height: 10vh;
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    border-radius: 8px; /* Angoli arrotondati */
    border-bottom: 1px groove black; /* Bordo opzionale */
  }

  #colquickmedaglie{
    grid-template-columns: repeat(4, 1fr);
  }
}
